/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-coy&languages=markup+css+clike+javascript+bash+ruby+markup-templating+php+python+sass+scss&plugins=toolbar+unescaped-markup+normalize-whitespace+show-language */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

/* Theme Colors */
$code:               $gray-lt;
$code-comment:       $gray-md;
$code-punctuation:   lighten(#6FC1FF, 15%);
$code-tag:           #6FC1FF; // blue
$code-selector:      #FFCB6B; // yellow
$code-primative:     #19f9d8; // green
$code-keyword:       #FF759F; // pink


code[class*="language-"],
pre[class*="language-"] {
  color: $white;
	background: $gray-dk;
	@extend %font-hack;
  font-size: 1.3rem;
	line-height: 1.6;

	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
  overflow-wrap: break-word;
	tab-size: 3;
	hyphens: none;

  &::-webkit-scrollbar { width: 1.2rem; }

	&::-webkit-scrollbar-track {
		background: lighten($gray-dk, 12%);
    box-shadow: inset 0 0 0.5rem $gray-dk;
    border-radius: 0.5rem;

    @media (max-width: 48em){
      border-radius: 0rem;
    }
	}

	&::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background: lighten($gray-dk, 45%);
    box-shadow: inset 0 0 3px $gray-dk;
	}

	&::-webkit-scrollbar-thumb:window-inactive {
  	background: lighten($gray-dk, 25%);
	}
}

/* Code blocks */
pre[class*="language-"] {
	position: relative;
	overflow: visible;
  max-width: 76rem;

  border-radius: 0.5rem;
  padding: 2rem;
	margin: 2rem auto;
  box-shadow: 0px 1rem 2.5rem rgba(0,0,20,.3);

  @media (max-width: 48rem){
    border-radius: 0rem;
    padding: 1rem 0rem;
  }

  & h4{
    @extend %font-nunito;
    text-shadow: none;
    color: $gray-lt;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.9rem;
    text-transform: uppercase;
  }
}

pre[class*="language-"] > code {
  max-height: 50rem;
}

code[class*="language"] {
	max-height: inherit;
	height: inherit;
	display: block;
	overflow: auto;
  @media (max-width: 48rem){
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: $gray-dk;
	box-sizing: border-box;
	margin-bottom: 1rem;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	position: relative;
	padding: 1rem;
	border-radius: 0.7rem;
	color: $gray-lt;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: inline;
	white-space: normal;
}


:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
	right: 0.75em;
	left: auto;
	transform: rotate(2deg);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: $code-comment;
}

.token.punctuation {
    color: $code-punctuation;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: $code-tag;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: $code-primative;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: $code-selector;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: $code-keyword;
}

.token.function {
    color: $code-tag;
}

.token.regex,
.token.important,
.token.variable {
    color: $code-primative;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.namespace {
	opacity: .7;
}

@media screen and (max-width: 767px) {
	pre[class*="language-"]:before,
	pre[class*="language-"]:after {
		bottom: 14px;
		box-shadow: none;
	}

}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
	color: #e0d7d1;
}