pre[class*="language-"] h5 {
  font-family: Nunito, 'Century Gothic', 'Lucida Grande', sans-serif; }

code[class*="language-"],
pre[class*="language-"] {
  font-family: Hack, Courier, monospace; }

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-coy&languages=markup+css+clike+javascript+bash+ruby+markup-templating+php+python+sass+scss&plugins=toolbar+unescaped-markup+normalize-whitespace+show-language */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */
/* Theme Colors */
code[class*="language-"],
pre[class*="language-"] {
  color: #E6E8EE;
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: break-word;
  tab-size: 3;
  hyphens: none; }
  code[class*="language-"]::-webkit-scrollbar,
  pre[class*="language-"]::-webkit-scrollbar {
    width: 1.2rem; }
  code[class*="language-"]::-webkit-scrollbar-track,
  pre[class*="language-"]::-webkit-scrollbar-track {
    background: #454960;
    box-shadow: inset 0 0 0.5rem #2B2E3C;
    border-radius: 0.5rem; }
    @media (max-width: 48em) {
      code[class*="language-"]::-webkit-scrollbar-track,
      pre[class*="language-"]::-webkit-scrollbar-track {
        border-radius: 0rem; } }
  code[class*="language-"]::-webkit-scrollbar-thumb,
  pre[class*="language-"]::-webkit-scrollbar-thumb {
    border-radius: 0.6rem;
    background: #989db5;
    box-shadow: inset 0 0 3px #2B2E3C; }
  code[class*="language-"]::-webkit-scrollbar-thumb:window-inactive,
  pre[class*="language-"]::-webkit-scrollbar-thumb:window-inactive {
    background: #606786; }

/* Code blocks */
pre[class*="language-"] {
  position: relative;
  overflow: visible;
  max-width: 70rem;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 2rem auto;
  box-shadow: 0px 1rem 2.5rem rgba(0, 0, 20, 0.3); }
  @media (max-width: 48rem) {
    pre[class*="language-"] {
      border-radius: 0rem;
      padding: 1rem 0rem; } }

@media (min-width: 640px) {
  pre[class*="language-"] > code {
    max-height: 50rem; } }

code[class*="language"] {
  max-height: inherit;
  height: inherit;
  display: block;
  overflow: auto; }
  @media (max-width: 48rem) {
    code[class*="language"] {
      font-size: 1.2rem;
      padding: 0.5rem; } }

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgba(43, 46, 60, 0.6);
  box-sizing: border-box;
  margin-bottom: 1rem; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: 1rem;
  border-radius: 0.7rem;
  color: #EDEFF6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
  white-space: normal; }

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
  right: 0.75em;
  left: auto;
  transform: rotate(2deg); }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgba(255, 255, 255, 0.7); }

.token.punctuation {
  color: #bce2ff; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #6FC1FF; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #19f9d8; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #FFCB6B; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #FF759F; }

.token.function {
  color: #6FC1FF; }

.token.regex,
.token.important,
.token.variable {
  color: #19f9d8; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.namespace {
  opacity: .7; }

@media screen and (max-width: 767px) {
  pre[class*="language-"]:before,
  pre[class*="language-"]:after {
    bottom: 14px;
    box-shadow: none; } }
/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1; }

/*# sourceMappingURL=prism.css.map */
